version: "3.7"
services:
  redis:
    image: "redis:5.0.4-alpine"

  scheme-adapter:
    build:
      context: ../sdk-scheme-adapter
    env_file: ./config/scheme-adapter.lewbank1.env
    volumes:
      - ../sdk-scheme-adapter/package.json:/opt/sdk-scheme-adapter/package.json
      - ../sdk-scheme-adapter/src:/opt/sdk-scheme-adapter/src
    depends_on:
      - redis
    command:
      - npm run docker-dev
  
  custom-dfsp:
    build:
      context: .
    # image: node:10.15.3-alpine
    volumes:
      # TODO: there are probably better ways to set the config.
      - ./config/lewbank1.js:/opt/custom-dfsp/config/default.js
      - ./src:/opt/custom-dfsp/src
      - ./node_modules:/opt/custom-dfsp/node_modules
      - ./tsconfig.json:/opt/custom-dfsp/tsconfig.json
    depends_on:
      - scheme-adapter
    command:
      - npm run watch
