#env specific config. Most config should go in docker-compose.yml
version: "3.7"
services:
  redis:
    networks:
      - dfsp_net

  mongodb:
    networks:
      - dfsp_net
    volumes:
      - ./docker/mongo_lewbank1:/data/db

  scheme-adapter:
    env_file: ./config/scheme-adapter.lewbank1.env
    ports:
      - "4000:4000" #inbound from switch
      - "4001:4001" #outbound from dfsp
    networks:
      - dfsp_net
    
  custom-dfsp:
    env_file: ./config/custom-dfsp.lewbank1.env
    ports:
      - "4002:4002" #talk to mm api here
    networks:
      - dfsp_net

networks: 
  dfsp_net:
    driver: bridge